:root {
    --main-bg-color: #121725;
    --main-accent-color: #54E6AF;
    --body-copy: #C2CBE5;
    --form-fill: #2C344B;
    --accent-copy: #FFFFFF; /* everywhere, form label, pod logo text */
    --footer-list:#5A668A;
    --form-button: #B3FFE2;
}

body {
    font-family: 'Chivo', sans-serif;
    background-color: var(--main-bg-color);
    color: #fff;
    margin: 0;
}

.logo {
    display: block;
    margin: 0 auto;
}

.title {
    font: 26px 'Chivo', sans-serif;
    text-transform: uppercase;
    color: var(--main-accent-color);
}

.title span {
    color: var(--accent-copy);
}


.product-description {
    font: 15px 'Chivo', sans-serif;
    padding: 20px 0;
    color: var(--body-copy);
}

.page-container {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(18, 23, 37, 0.9), rgba(18, 23, 37, 0.9)),
                      url('assets/mobile/image-host.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.background-image-container{
    display: none;
}

.dots-footer {
    display: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    text-align: center;
}

.main-content .title .product-description {
    order: 1;
}

.main-content .podcast-providers {
    order: 2;
}

.main-content .form-container {
    order: 3;
}

.main-content > div {
    padding: 15px 0;
}

.access-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.access-form > input, button {
    height: 48px;
    border-radius: 35px;
    border: none;
    padding-left: 10px;
    margin: 8px;
}

.access-form-input {
    width: 327px;
    background-color: var(--form-fill);
    text-indent: 40px;
}

.access-form-button {
    text-align: center;
    background-color: var(--main-accent-color);
    color: var(--main-bg-color);
    font: bold 14px 'Chivo';
}

.podcast-providers {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 17px;
    width: 315px;
}

.podcast-icon {
    height: 90%;
    width: 20%;
}

.spotify {
    height: 17px;
    width: 56px;
}

.apple {
    height: 17px;
    width: 45px;
}

.google {
    height: 11px;
    width: 73px;
}

.pocket {
    height: 15px;
    width: 77px;
}

@media only screen and (min-width:750px) {
    .page-container {
        background-image: none;
        display: block;
        position: absolute;
        width: 1275px;
        height: 640px;
        left: 165px;
        top: 65px;
    }

    .logo-container {
        position: initial;
        left: 165px;
        top: 102px;
        margin-bottom: -23px;
    }

    .logo {
        margin: 0;
    }

    .background-image-container {
        display: block;
        position: sticky;
        width: 888px;
        height: 640px;
        left: 552px;
        top: 130px;
        background-image: linear-gradient(rgba(179, 255, 226, 0.05), rgba(179, 255, 226, 0.05)),
                            url('assets/desktop/image-host.jpg');
    }

    .main-content {
        position: absolute;
        width: 723px;
        height: 509px;
        left: 0px;
        top: 190px;
        display: block;
        padding: 0;
        text-align: left;
        background-color: var(--main-bg-color);
    }

    .main-content .title {
        padding-top: 88px;
        width: 665px;
        height: 124px;
        font: 52px 'Chivo', sans-serif;
        line-height: 62px;
    }

    .product-description {
        font: 18px 'Chivo', sans-serif;
        width: 445px;
        height: 84px;
    }

    .access-form > input, button {
        border-radius: 35px;
        border: none;
        margin: 0;
        padding-left: 0;
    }
    .access-form {
        background-color: var(--form-fill);
        border-radius: 35px;
        flex-direction: row;
        padding: 0;
        width: 427px;
        height: 56px;
        justify-content: center;
        align-items: center;
    }

    .access-form-input {
        height: 56px;
        width: 100%;
    }

    .access-form-button {
        height: 46px;
        width: 200px;
        margin-right: 5px;
    }

    .podcast-providers {
        height: 29px;
        width: 536px;
        justify-content: space-between;
    }

    .spotify {
        height: 29px;
        width: 96px;
    }

    .apple {
        height: 29px;
        width: 78px;
    }

    .google {
        height: 18px;
        width: 125px;
    }

    .pocket {
        height: 26px;
        width: 129px;
    }

    .dots-footer {
        display: block;
        position: absolute;
        width: 232px;
        height: 40px;
        left: 1040px;
        top: 625px;
    }
}
